@tailwind base;
@tailwind components;
@tailwind utilities;

.bgPcb{
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/static/images/PCB-Stock.jpg');
    background-position: center;
    background-size: cover;
}
